option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: AKIAQTPUSKWVYOTIOFP4
    AWS_SECRET_ACCESS_KEY: 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
    AWS_DEFAULT_REGION: us-east-1
    POSTGRESQL_NAME: database-1
    POSTGRESQL_USER: postgres
    POSTGRESQL_PASSWORD: 0yPTzgo8DHOpCpRsD6s2
    POSTGRESQL_HOST: database-1.cne6qq0m6vje.us-east-1.rds.amazonaws.com
    POSTGRESQL_PORT: 5432
    DEBUG: FALSE
    SECRET_KEY=django-insecure-8_emcre52kq$x#5^+-=4n=ujcb=r=w0^m56k#6hi-d6k_9r!@7